html, body {
    margin: 0;
    height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 50vw;
  padding: 20px;
  font-family:monospace ;
}

#formcenter {
  display: block;
}

#search-button {
  display: block;
}


h1 {
  
  font-weight: bolder;
  padding: 10px;
  font-size: xx-large;
}

h2 {
    font-family: monospace;
    
}

#cityName,
#temperature {
  font-weight: bold;
  font-size: x-large;
  border-bottom: 2px solid black;
}

#windSpeed {
  
  font-weight: bold;
  font-size: x-large;
}



#weather {
  border: 1px solid black;
  padding: 10px;
  font-size: xx-large;
  font-weight: bolder;
}

body {
    background-color: #949494 ;

}

header {
    background-color: #36454F;
    border-bottom: 2px solid black;
    color: #42ba92;
}
